<div class="c-ckolor__wrapper" id="{{ elementId }}">
    <div class="c-ckolor__input-wrapper" is-ckoloring="{{ CKolorFactory.ckoloring }}" ng-click="toggleCKoloring()">
        <input ng-if="type && model" type="{{ type }}" name="{{ name }}" id="{{ inputId }}" ng-model="model"/> <!-- input is a single-tag element -->
        <span ng-style="{'background-color':model}" class="c-ckolor__swatch"></span>
        <span ng-bind="model"></span> <!-- i prefer <span>{{model}}</span> -->
    </div>
</div>
